spring:

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ""

  sql:
    init:
      mode: never

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-ui

  flyway:
    encoding: UTF8
    location: classpath:db/migration
    out-of-order: false
    baseline-on-migrate: true
    baseline-version: 1
    baseline-description: db_creation_schema_batch